.grid {
  display:grid;
  position: relative;
  min-height: 1800px;
  min-width: 100px;
  margin: 40px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: minmax(30px, auto);
  border-style: solid;
  border-width: 0.5px;
  border-color: #000;
  z-index: 1;
}

.square {
  border: 0.5px solid #000;
}

.row1 {
	grid-column: 1 / span 20;
	grid-row: 1 / span 1;
}

.box1{
	z-index: 2;
	grid-column: 24 / span 2;
	grid-row: 3 / span 2;
	border: 0.5px solid #000;
	font-size: 30px;
	font-family: 'Gotu', sans-serif;
    text-align: center;
}

.back {
	z-index: 2;
	grid-column: 2 / span 3;
	grid-row: 26 / span 1;
	border: 0.5px solid #000;
	font-size: 30px;
	font-family: 'Gotu', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;

}

.done {
	z-index: 2;
	grid-column: 23 / span 3;
	grid-row: 26 / span 1;
	border: 0.5px solid #000;
	font-size: 30px;
	font-family: 'Gotu', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;

}

.title {
	z-index: 2;
	grid-column: 2 / span 18;
	grid-row: 2 / span 2;
	border: 0.5px solid #000;
	font-size: 70px;
	font-family: 'Gotu', sans-serif;
    text-align: center;
}


.q1 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 6 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
	/*display: flex;
	*/
}

.q1  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
	/*float: left;*/
	
}



.q2 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 11 / span 8;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q2  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q3 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 20 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q3  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q4 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 21 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q4  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q5 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 26 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q5  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q6 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 31 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q6  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q7 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 35 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q7  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q8 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 39 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q8  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q9 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 43 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q9  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.q10 {
	z-index: 2;
	grid-column: 5 / span 18;
	grid-row: 47 / span 3;
	border: 0.5px solid #000;
	padding: 10px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: left;
}

.q10  span {
	font-family: 'Gotu', sans-serif;
	font-size: 20px;
	padding: 10px;
}


/*COMPONENTS*/

#circle {
	z-index: 3;
	border: 2px solid #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: relative;
    margin-top: 5px;

 /*   float: left;
    display: inline-block;*/
}

.display {
	display: inline-block;
}

/*HOVERS*/

.title:hover {
	background-color:black;
	color:white;
}

.box1:hover {
	background-color:black;
	color:white;
}

.back:hover {
	background-color:black;
	color:white;
}

.next:hover {
	background-color:black;
	color:white;
}

.square:hover {
	background-color:black;
	color:white;
}

#circle:hover {
	background-color:black;
	color:white;
}

/*POSITION IDS*/

#block1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}