.grid {
  display: grid;
  height: 2000px;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
  font-family: 'Oswald', sans-serif;
}

.logo {
	font-size: 30px;
	grid-area: 1 / 2 / span 2 / span 4;

}

.image-one {
	background-color: black;
	grid-area: 1 / 6 / span 10 / span 8;	
	position: relative;
}

.title {
	font-size: 50px;
	grid-area: 12 / 6 / span 4 / span 13;
	position: relative;
}

.line-one {
	background-color: chartreuse;
	height: 5px;
	grid-area: 17 / 1 / span 1 / span 32;
}



.sub {
    grid-area: 18 / 6 / span 2 / span 13;
}

.images {
	background-color: black;
	grid-area: 21 / 6 / span 3 / span 13;
}

.para {
	grid-area: 25 / 6 / span 30 / span 13;
}
